<!doctype html>
<html lang="en">

<head>
    {% from '/components/header.html' import generateHeader, javascriptBundle, generateFooter with context %}
    {{ generateHeader("Golden State - Tienda", "¡Adquiere autos, casas, monedas, lo que quieras! Ahora con
    acreditaciones automáticas.") }}
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="main-background">
        {% from '/components/navbar.html' import generateNavbar with context %}
        {{ generateNavbar() }}

        <div class="p-3">
            <h1 class="mt-3 mb-3 text-center">Tienda común <i class="em em-100" aria-role="presentation"
                    aria-label="HUNDRED POINTS SYMBOL"></i></h1>

            {% if error %}
            <div class="alert alert-danger" role="alert"><i class="fa-solid fa-bug"></i> {{ error }}</div>
            {% endif %}

            {% if success %}
            <div class="alert alert-success" role="alert"><i class="fa-solid fa-circle-check"></i> {{ success }}</div>
            {% endif %}

            <div class="modal fade" id="modalVIPBronze" tabindex="-1"
                aria-labelledby="modalVIPBronze_Label" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalVIPBronze_Label">Confirmación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de comprar <b>VIP Bronze</b> a 10 GS? Esta acción no se puede reembolsar.
                            <div class="d-grid gap-2 col-6 mx-auto mt-3">
                                <button class="btn btn-lg btn-primary" onclick="window.location = `{{ url_for('store.payment_normal', product_id = 2) }}`">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalVIPSilver" tabindex="-1"
                aria-labelledby="modalVIPSilver_Label" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalVIPSilver_Label">Confirmación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de comprar <b>VIP Silver</b> a 15 GS? Esta acción no se puede reembolsar.
                            <div class="d-grid gap-2 col-6 mx-auto mt-3">
                                <button class="btn btn-lg btn-primary" onclick="window.location = `{{ url_for('store.payment_normal', product_id = 1) }}`">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalVIPGold" tabindex="-1"
                aria-labelledby="modalVIPGold_Label" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalVIPGold_Label">Confirmación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de comprar <b>VIP Gold</b> a 20 GS? Esta acción no se puede reembolsar.
                            <div class="d-grid gap-2 col-6 mx-auto mt-3">
                                <button class="btn btn-lg btn-primary" onclick="window.location = `{{ url_for('store.payment_normal', product_id = 3) }}`">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3">

                <div class="card product-card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#modalVIPBronze">
                    <img src="/static/images/store/bronze.png" class="card-img-top">
                    <p class="text-center product-name">
                        VIP Bronze (30 días)
                        <br>
                        <span class="product-price">10 GS</span>
                    </p>
                </div>

                <div class="card product-card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#modalVIPSilver">
                    <img src="/static/images/store/silver.png" class="card-img-top">
                    <p class="text-center product-name">
                        VIP Silver (30 días)
                        <br>
                        <span class="product-price">15 GS</span>
                    </p>
                </div>

                <div class="card product-card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#modalVIPGold">
                    <img src="/static/images/store/gold.png" class="card-img-top">
                    <p class="text-center product-name">
                        VIP Gold (30 días)
                        <br>
                        <span class="product-price">20 GS</span>
                    </p>
                </div>

            </div>

        </div>
    </div>

    {{ generateFooter() }}
    {{ javascriptBundle() }}
</body>

</html>