<!doctype html>
<html lang="en">

<head>
    {% from '/components/header.html' import generateHeader, javascriptBundle, generateFooter with context %}
    {{ generateHeader("Golden State - Desbanear usuario", "Panel administrativo") }}
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="main-background">
        {% from '/components/navbar.html' import generateNavbar with context %}
        {{ generateNavbar() }}

        <div class="p-5">
            <div class="text-left back-container">
                <p class="back-text">< Volver a <a class="back-link" href="{{ url_for('admin.index') }}">Panel administrativo</a></p>
            </div>

            {% if error %}
                <div class="alert alert-danger" role="alert"><i class="fa-solid fa-bug"></i> {{ error }}</div>
            {% endif %}

            {% if success %}
                <div class="alert alert-success" role="alert"><i class="fa-solid fa-circle-check"></i> {{ success }}</div>
            {% endif %}

            <form method="post" class="col-md-6">
                <h4 class="fw-bold">Desbanear usuario</h4>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Nombre_Apellido o IP" name="filter">
                </div>

                <button class="btn btn-lg btn-primary" type="submit">Desbanear</button>
            </form>

        </div>
    </div>

    {{ generateFooter() }}
    {{ javascriptBundle() }}
</body>

</html>